# Node.js
node_modules/
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# TypeScript
dist/
*.tsbuildinfo

# Environment variables
.env

# Docker
docker-compose.override.yml

# VSCode (optional)
.vscode/

.qodo
